.game{
    text-align: center;
    height: 100vh;
    position: relative;
    background: url('https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjIzNjgzfQ&s=fae6dbca8d2196d8f9977d1a76ad942f') no-repeat ;
    background-size: cover;
}

.game-header{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9vh;
}

.game-header img{
    width: 300px;
    height: 300px;
}

.game-header h2{
    font-size: 250%;
    color: rgb(212, 13, 6);
    text-transform: capitalize;
    background: rgba(2, 38, 82, 0.8);
    border: 1px rgba(0, 0, 0, 0.452) solid;
    border-radius: 18px;
    width: 20%;
    text-shadow: rgb(20, 19, 19) 2px 2px 0;
}

.btns{
    display: flex;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 20%;
}

.btns button {
    background: #34d9a7;
    background-image: -webkit-linear-gradient(top, #34d9a7, #2b68b8);
    background-image: -moz-linear-gradient(top, #34d9a7, #2b68b8);
    background-image: -ms-linear-gradient(top, #34d9a7, #2b68b8);
    background-image: -o-linear-gradient(top, #34d9a7, #2b68b8);
    background-image: linear-gradient(to bottom, #34d9a7, #2b68b8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 2px 2px 3px #5e4d5e;
    -moz-box-shadow: 2px 2px 3px #5e4d5e;
    box-shadow: 2px 2px 3px #5e4d5e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    
  }
  
  .btns button:hover {
    background: #9b3cfa;
    background-image: -webkit-linear-gradient(top, #9b3cfa, #d9348f);
    background-image: -moz-linear-gradient(top, #9b3cfa, #d9348f);
    background-image: -ms-linear-gradient(top, #9b3cfa, #d9348f);
    background-image: -o-linear-gradient(top, #9b3cfa, #d9348f);
    background-image: linear-gradient(to bottom, #9b3cfa, #d9348f);
    text-decoration: none;
  }