.search-page{
    height: 100%;
    width: 100%;
    position: relative;
}
.search-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10vh;
    height: 25%;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

h1#pick{
    margin: 0;
    /* height: 200px; */
    align-self: center;
    
}

.search{
    width: auto;
    height: 50px;
    font-size: 1.25em;
}


.search-page::after{
    content: "";
    background: url("https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d060132f422f18d7fd59c4b5d0eb8e06&auto=format&fit=crop&w=1950&q=80");
    position: absolute;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.replay-array{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.replay-array div{
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    padding: 5px;
    text-align: center;
    width: 20%;
    margin: 50px;
    border: 2px solid rgb(148, 10, 95);
    border-radius: 40px;
    height: 100px;
    font-size: 1.5em;
    align-items: center;
    background-color: rgba(177, 174, 174, 0.36);
}



@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    background-color: #0b9b17a6;
    
  }

.replay-array div button{
    border: 1px solid lightcoral;
    background: #eef20e;
    background-image: -webkit-linear-gradient(top, #eef20e, #081117);
    background-image: -moz-linear-gradient(top, #eef20e, #081117);
    background-image: -ms-linear-gradient(top, #eef20e, #081117);
    background-image: -o-linear-gradient(top, #eef20e, #081117);
    background-image: linear-gradient(to bottom, #eef20e, #081117);
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    text-shadow: 1px 1px 3px #1f0f1f;
    font-family: Arial;
    color: #cbcf48;
    font-size: 0.75em;
    text-decoration: none;
}

.replay-array div button:hover {
    background: #0b0d0b;
    background: #0b0d0b;
    background-image: -webkit-linear-gradient(top, #0b0d0b, #e63535);
    background-image: -moz-linear-gradient(top, #0b0d0b, #e63535);
    background-image: -ms-linear-gradient(top, #0b0d0b, #e63535);
    background-image: -o-linear-gradient(top, #0b0d0b, #e63535);
    background-image: linear-gradient(to bottom, #0b0d0b, #e63535);
    text-decoration: none;
  }

.replay-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#replay-btns{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.replay-name{
    color: rgb(10, 175, 10);
    text-shadow: rgb(7, 7, 7)  -2px 4px 7px;
    text-transform: capitalize;
}

.replay-item h3{
    margin: 0; 
    font-size: 1.25em;
    
}

#replay-btns a:hover, #replay-btns button:hover{
    /* transform: scale(1.7) 0.1s; */
    -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.read{
    color: rgb(87, 37, 4);
    text-shadow: rgb(7, 7, 7) 5px 5px 10px;
}

.is-member{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}
.is-member p.message{
    color: rgb(18, 93, 122);
    background: transparent;
    text-transform: uppercase;
}
main{
    position: relative;
    top: 0;
}
.bottom{
    display: flex;
    position: absolute;
    /* top: 0; */
    z-index: 5;
    left: 0
}

.second-img{
    background-image: url("https://images.unsplash.com/photo-1511909525232-61113c912358?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjIzNjgzfQ&s=a70a1ce471f359773663cde6f6bdc0e2");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
}

.filler{
    background-color: rgba(112, 85, 27, 0.747);
    height: 95px;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    z-index: -3;
}
.filler-2{
    background-color: rgba(112, 85, 27, 0.747);
    height: 95px;
    position: absolute;
    top: calc(200vh + 95px);
    left: 0;
    width: 100%;
    z-index: -3;
}
.filler2{
    height: 100vh;
    position: absolute;
    top: calc(100vh + 95px);
    left: 0;
    width: 100%;
    z-index: -3;
    background-image: url("https://images.unsplash.com/photo-1503623758111-863eb2abd7a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjIzNjgzfQ&s=c3c9425271c4647d65e22da2d928de18");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.filler3{
    height: 100%;
    position: absolute;
    top: calc(200vh + 190px);
    left: 0;
    width: 100%;
    z-index: -3;
    background-image: url("https://images.unsplash.com/photo-1494315153767-9c231f2dfe79?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjIzNjgzfQ&s=044c78cdb547862545dcd5ed2b03089d");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: hidden;
}
.filler3:empty{
    /* display: none; */
}
.add-message{
    display: flex;
    justify-content: space-around;
    color: rgb(216, 201, 201);
    background-color: rgba(105, 105, 105, 0.5);
    height: 150px;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 1.75em;
    text-shadow: rgba(32, 31, 31, 0.5) 2px 2px 6px;
    
}

.add-message h2{
    display: flex;
    border-right: 2px solid black;
    padding: 43px;
}

span{
    font-size: 1.25em;
}

.add-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.add-item input{
    padding: 10px;
    margin: 30px;
    width: 30%;
    font-size: 1.2em;
}

input[type="text-area"]{
    width: 60%;
    text-align: center;
    display: flex;
    overflow: scroll;
}

.send-it{
    width: 40%;
    height: 40px;
    border-radius: 25px;
}

.send-it:hover{
    background-color: rgba(39, 150, 39, 0.842);
    pointer-events: all;
    font-size:200%;
    transition-duration: 0.2s;
}

.recipe{
    display: flex;
}

.recipe-img-cont{
    display: flex;
    flex-direction: column;
}

.cant-find{
    display: flex;
}

.sign-button {
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    text-shadow: 2px 1px 3px #1c7da3;
    font-family: Arial;
    color: #030a08;
    background: #224ce37e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }
  
  .sign-button:hover {
    background: #00f74a;
    background-image: -webkit-linear-gradient(top, #00f74a, #137d28);
    background-image: -moz-linear-gradient(top, #00f74a, #137d28);
    background-image: -ms-linear-gradient(top, #00f74a, #137d28);
    background-image: -o-linear-gradient(top, #00f74a, #137d28);
    background-image: linear-gradient(to bottom, #00f74a, #137d28);
    text-decoration: none;
  }

  .sign-message{
      background-color: rgba(155, 153, 35, 0.479);
    border-radius: 10px;
  }

  #pick{
      font-size: 1.5em;
      border-radius: 15px;
      background-color: rgba(99, 61, 61, 0.486);
      color: rgba(0, 253, 253, 0.712);
      text-shadow: rgb(7, 7, 7) 2px 2px 2px;
  }

  .password, .username{
      border: none;
      text-align: center;
      border-radius: 5px;
  }
  .password{
      margin-left: 5px;
  }
  .fa-search {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .fa-search:hover, .fa-search:focus, .fa-search:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    background-color: #0b9b17a6;
    
  }