.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background: url('https://images.unsplash.com/photo-1464895216333-d859b45bf394?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3204895a6d4e0fdf0de403f5a2410c31&auto=format&fit=crop&w=500&q=60') no-repeat ;
  background-position: center;
  background-size: cover;
}


.app-header {
  /* position: absolute; */
  padding-top: 9vh;
  
  left: 0;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 30%
}

figcaption{
  color: rgba(221, 221, 221, 0.671);
  font-style: italic;
}

.title {
  font-size: 4.5em;
  color: rgba(134, 216, 27, 0.822)
}

.intro {
  display: flex;
  font-size: large;
  align-items: center;
}

.intro h2{
  flex-grow: 2;
  width: 25%;
  margin-left: 5vw;
  color: #d82;
  
  /* align-self: center; */
}

section p{
  background-color: rgba(238, 237, 237, 0.644)
}

.intro p{
  flex-shrink: 2;
  margin-right: 5vw;
  border: 3px solid burlywood;
  border-radius: 15px;
}

.how-to{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 5vw;
  font-size: large;

}

.how-to-h3{
  font-size: 1.5em;
  color: #d82;
  width: 25%;
}

.how-to p{
  border: 3px solid burlywood;
  border-radius: 15px;
}

.play-btn{
  height: 30px;
  border-radius: 35%;
  color: #d39;
  background-color: #4c9;
  text-decoration: none;
  width: 200px;
}
