.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background: url('https://images.unsplash.com/photo-1489444444961-d0fda97f0986?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjIzNjgzfQ&s=df674a85c02f3d36607e366c05e2f43b') no-repeat ;
  background-position: center;
  background-size: cover;
}


.app-header {
  /* position: absolute; */
  padding-top: 9vh;
  
  left: 0;
  display: flex;
  justify-content: center;
  text-shadow: rgb(20, 19, 19) 4px 2px 10px;
  
}

#left-head{
  text-shadow: rgba(100, 97, 97, 0.363) -2px 2px 8px;
  font-size: 4.5rem;
  
}

img {
  border-radius: 30%
}

figure{
  width: 24%
}

figcaption{
  color: rgba(221, 221, 221, 0.541);
  font-style: italic;
}

.title {
  font-size: 4.5em;
  color: rgba(134, 216, 27, 0.822)
}

.intro {
  display: flex;
  font-size: large;
  align-items: center;
  color: rgb(253, 250, 43);
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.intro h2{
  flex-grow: 2;
  width: 25%;
  margin-left: 5vw;
  color: rgb(14, 35, 158);
  font-size: 2em;
  /* align-self: center; */
}

section p{
  background-color: rgba(238, 237, 237, 0.205)
}

.intro p{
  flex-shrink: 2;
  margin-right: 5vw;
  border: 3px solid burlywood;
  border-radius: 15px;
}

.how-to{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 5vw;
  font-size: large;

}

.how-to-h3{
  font-size: 1.5em;
  color: #d82;
  width: 25%;
}

.how-to p{
  border: 3px solid burlywood;
  border-radius: 15px;
}

.play-btn{
  height: 30px;
  border-radius: 35%;
  color: #d39;
  background-color: #4c9;
  text-decoration: none;
  width: 200px;
}
